body {
    display: flex;
    justify-content: center;
    background-color: #000;
}

.menu {
    padding: 200px 80px 0 0;
    background-image: url(images/pixar.png);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: 50% top;
}

.menu .menu-item {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.movie-info {
    width: 1000px;
    padding: 500px 0 50px 30px;
    background: linear-gradient(
            rgba(20, 20, 20, 0) 30%,
            rgba(20, 20, 20, 0.25) 35%,
            rgba(20, 20, 20, 0.5) 40%,
            rgba(20, 20, 20, 0.75) 45%,
            rgba(20, 20, 20, 1) 50%
        ), url(images/cover.png) no-repeat;
        background-size: contain;
        display: flex;
}

.movie-info .movie-desc-warp {
}

.movie-info .movie-desc-warp .movie-tit {
    font-size: 44px;
    color: #dcdcdc;
    margin-bottom: 30px;
}

.movie-info .movie-desc-warp .movie-desc {
    font-size: 16px;
    color: #a0a0a0;
}

.movie-info .movie-desc-warp .movie-desc {
    margin-bottom: 10px;
}

/* 이미지부터 마크업 하겠음 너무 커 */

.right-section .casts .img-item {
    width: 50px;
    border-radius: 50%;
}